@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family: Source Sans Pro;
	margin: 0;
	padding: 0;
}

/* Front */
.splash{
	width: 100vw;
	height: 100vh;
	background: url(images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
 	justify-content: center;
}
	form#front-form>input {
		color: #4d4d4d;
		margin: 6px;
	}
	form#front-form>input[type="text"] {
		border: 2px solid;
		font-size: 18px;
		line-height: 30px;
		padding: 8px;
		background-color: rgba(255, 255, 255, 0.6);
		min-width: 400px;
	}
	form#front-form>input::-webkit-input-placeholder {
		color: #4d4d4d;
		text-align: center;
	}
	form#front-form>input::-moz-placeholder {
		color: #4d4d4d;
		text-align: center;
	}
	form#front-form>input:-ms-input-placeholder {
		color: #4d4d4d;
		text-align: center;
	}
	form#front-form>input:-moz-placeholder {
		color: #4d4d4d;
		text-align: center;
	}
	form#front-form>input[type="submit"] {
		background-color: #fff;
		width: 200px;
		font-size: 20px;
		line-height: 42px;
		border: none;
	}


.logo {
	height: 250px;
}

.dates {
	color: #4d4d4d;
	font-size: 50px;
	font-weight: 300;
	margin: 10px 0 20px 0;
}

.social {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

.social img, .tesc img {
	padding: 10px;
	height: 40px;
}

.tesc {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}