@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family: Source Sans Pro;
	margin: 0;
	padding: 0;
}

.splash{
	width: 100vw;
	height: 100vh;
    text-align: center;
}

/* Background for splash */
.splash-bg {
	background: url(assets/backgroundgradient.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	z-index: -10; }

	.splash-bg * {
		z-index: -1;
		position: absolute; }
	.island {
		top: 6vh;
		z-index: -6;
		left: -4vw; }
		/*  TODO: Get rid of tree and boat for mobile 
			Do we want to get rid of the island or just the tree? */
		.palm-tree {
			height: 68vh; }

		#palm-tree {
			height: 68vh;	
		}
			.leaf#leaf1 {
				background: url(assets/PalmTree-06.png);

			}
			.leaf#leaf2 {
				background: url(assets/PalmTree-05.png);

			}
			.leaf#leaf3 {
				background: url(assets/PalmTree-04.png);
			}
			.leaf#leaf4 {
				background: url(assets/PalmTree-03.png);
			}
			.coconut#coconut1 {

			}
			.coconut#coconut2 {
				
			}
			#palm-tree>#trunk {
				background: url(assets/PalmTree-01.png);
			}



		.sand {
			height: 35vh;
			top: 62vh; }
	.sky {
		height: 81vh;
		width: 100%;
		z-index: -7;
		top: 0; }
		.sky>.cloud#cloud1 {
			background: url(assets/Cloud-1.png);
			background-size: cover;
			height: 56px;
			width: 380px;
			top: 2vh;
			left: 29vh; }
		.sky>.cloud#cloud2 {
			background: url(assets/Cloud-2.png);
			background-size: cover;
			height: 56px;
			width: 380px;
			top: 12vh;
			right: 10vh; }
		.sky>.bird#bird1 {
		}
		.sky>.bird#bird2 {
		}
	.ocean {
		height: 22vh;
		bottom: -3vh; }
	.ocean>#boat {
		z-index: -6;
		position: absolute;
		top: -180px;
		right: 18vw;
		width: 100px; }
		#boat>#sail-left {
			background: url(assets/Boat-02.png);
			width: 80px;
			left: 15px;
			height: 130px;
			background-size: cover; }
		#boat>#sail-right {
			left: 105px;
			top: 38px;
		 	background: url(assets/Boat-03.png);
		 	width: 55px;
		 	height: 90px;
		 	background-size: cover; }
		#boat>#boat-body {
			background: url(assets/Boat-04.png);
			width: 180px;
			height: 60px;
			top: 120px;
			background-size: cover; }
	.ocean>.wave {
			position: relative;
			width: 100vw;
			height: 6.25vh;
			margin-top: -1.75vh; }
		.wave#wave1 {
			background: url(assets/Waves-02.png);
		    background-size: auto 100%; }
		.wave#wave2 {
			background: url(assets/Waves-03.png);
		    background-size: auto 100%; }
		.wave#wave3 {
			background: url(assets/Waves-01.png);
		    background-size: auto 100%; }
		.wave#wave4 {
			background: url(assets/Waves-04.png);
		    background-size: auto 100%; }
		.wave#wave5 {
			background: url(assets/Waves-05.png);
		    background-size: auto 100%; }
.logo {
	padding-top: 10vh;
	height: 250px;
}

.dates {
	color: #4d4d4d;
	font-size: 50px;
	font-weight: 300;
	margin: 30px 0 30px 0;
}

.social {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

.social img, .tesc img {
	padding: 10px;
	height: 40px;
}

.tesc {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}