@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body {
	font-family: Source Sans Pro;
	margin: 0;
	padding: 0;
}

/* Front */
.splash{
	width: 100vw;
	height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
 	justify-content: center; }

 	/* Front form & button styling */
	form#front-form>input {
		color: #4d4d4d;
		margin: 6px; }
	form#front-form>input[type="text"] {
		border: 2px solid;
		font-size: 18px;
		line-height: 30px;
		padding: 8px;
		background-color: rgba(255, 255, 255, 0.6);
		min-width: 400px; }
	form#front-form>input::-webkit-input-placeholder {
		color: #4d4d4d;
		text-align: center; }
	form#front-form>input::-moz-placeholder {
		color: #4d4d4d;
		text-align: center; }
	form#front-form>input:-ms-input-placeholder {
		color: #4d4d4d;
		text-align: center; }
	form#front-form>input:-moz-placeholder {
		color: #4d4d4d;
		text-align: center; }
	form#front-form>input[type="submit"] {
		background-color: #fff;
		width: 200px;
		font-size: 20px;
		line-height: 42px;
		border: none; }

/* Background for splash */
.splash-bg {
	background: url(assets/backgroundgradient.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	z-index: -10; }

	.splash-bg * {
		z-index: -1;
		position: absolute; }
	.island {
		top: 6vh;
		z-index: -6;
		}
		/*  TODO: Get rid of tree and boat for mobile 
			Do we want to get rid of the island or just the tree? */
		#palm-tree, .sand {
			margin-left: -80px;
		}
		#palm-tree {
			width: 66.2vh;
			height: 68vh; }
		#palm-tree>* {
			z-index: -7; }
			/* Large palm tree dimensions: 2592 * 2660 */
			/* Leaves ordered starting from 6 o'clock clockwise */
			/*  W x H
			/* Leaf1 -> 1188 x 963 */
			.leaf#leaf1 {
				top: 28%;
				width: 45.8%;
				height: 36.2%;
				background: url(assets/PalmTree-06.png);
				background-size: cover;
			}
			/* Leaf2 -> 1265 x 854 */
			.leaf#leaf2 {
				top: 6%;
				width: 48.8%;
				height: 32.1%;
				background: url(assets/PalmTree-05.png);
				background-size: cover;
			}
			/* Leaf3 -> 1188 x 963 */
			.leaf#leaf3 {
				left: 40%;
				width: 45.8%;
				height: 36.2%;
				background: url(assets/PalmTree-04.png);
				background-size: cover;
			}
			/* Leaf4 -> 1416 x 446 */
			.leaf#leaf4 {
				left: 45.5%;
				top: 19%;
				width: 54.6%;
				height: 16.8%;
				background: url(assets/PalmTree-03.png);
				background-size: cover;
			}
			/* 237 x 237 */
			.coconut#coconut1 {
				left: 36%;
				top: 33.6%;
				width: 9.1%;
				height: 9.1%;
				background: url(assets/PalmTree-07.png);
				background-size: cover;
			}
			/* 237 x 237 */
			.coconut#coconut2 {
				left: 44%;
				top: 30%;
				width: 9.1%;
				height: 9.1%;
				background: url(assets/PalmTree-02.png);
				background-size: cover;
			}
			/* 651 x 1771 */
			#palm-tree>#trunk {
				top: 32%;
				left: 34.5%;
				width: 26%;
				height: 68%;
				background: url(assets/PalmTree-01.png);
				background-size: cover;
			}
		.sand {
			height: 35vh;
			top: 62vh; }
		/* Tilt tree and sand for mobile */
		@media screen and (max-width: 950px) {
			.sand {
				left: -30vh; }
			#palm-tree {
				left: -10vh;
				transform: rotateZ(35deg); }

		}
	.sky {
		height: 81vh;
		width: 100%;
		z-index: -7;
		top: 0; }
		/* 1771 x 265 */
		.sky>.cloud#cloud1 {
			background: url(assets/Cloud-1.png) no-repeat;
			background-size: cover;
			height: 7vh;
			width: 46.8vh;
			top: 2vh;
			left: 17vw; }
		/* 1771 * 261 */
		.sky>.cloud#cloud2 {
			background: url(assets/Cloud-2.png) no-repeat;
			background-size: cover;
			height: 7vh;
			width: 48vh;
			top: 10vh;
			right: 8vw; }
		.sky>.bird#bird1 {
			background: url(assets/bird1.png) no-repeat;
			background-size: cover;
			width: 24.9vh;
			height: 3.9vh;
			right: 10vw;
			top: 25vh;
		}
		.sky>.bird#bird2 {
			background: url(assets/bird2.png) no-repeat;
			background-size: cover;
			width: 24.1vh;
			height: 7.2vh;
			top: 36vh;
			left: 20vw;
		}
	.ocean {
		height: 22vh;
		bottom: -3vh; }
	.ocean>#boat {
		z-index: -6;
		position: absolute;
		top: -24vh;
		height: 23vh;
		right: 18vw;
		width: 12.3vh; }
		#boat>#sail-left {
			background: url(assets/Boat-02.png) no-repeat;
			width: 80%;
			left: 15%;
			top: 2%;
			height: 70%;
			background-size: cover; }
		#boat>#sail-right {
			left: 105%;
			top: 21%;
		 	background: url(assets/Boat-03.png) no-repeat;
		 	width: 58%;
		 	height: 50%;
		 	background-size: cover; }
		#boat>#boat-body {
			background: url(assets/Boat-04.png) no-repeat;
			width: 180%;
			height: 45%;
			top: 67%;
			background-size: cover; }
	.ocean>.wave {
			position: relative;
			width: 100vw;
			height: 6.25vh;
			margin-top: -1.75vh; }
		.wave#wave1 {
			background: url(assets/Waves-02.png);
		    background-size: auto 100%; }
		.wave#wave2 {
			background: url(assets/Waves-03.png);
		    background-size: auto 100%; }
		.wave#wave3 {
			background: url(assets/Waves-01.png);
		    background-size: auto 100%; }
		.wave#wave4 {
			background: url(assets/Waves-04.png);
		    background-size: auto 100%; }
		.wave#wave5 {
			background: url(assets/Waves-05.png);
		    background-size: auto 100%; }
.logo {
	height: 250px;
}

.splash-content {
	padding: 20px;
}
.dates {
	color: #4d4d4d;
	font-size: 50px;
	font-weight: 300;
	margin: 10px 0 20px 0;
}

.social {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

.social img, .tesc img {
	padding: 10px;
	height: 40px;
}

.tesc {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}